@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --brand100: #364FC7;
  --brand200: #3B56D9;
  --gray100: #212529;
  --gray200: #343A40;
  --gray300: #495057;
  --gray400: #868E96;
  --gray500: #cdd6e0;
  --gray600: #E9ECEF;
  --gray700: #F1F3F5;
  --gray800: #F8F9FA;
  --gray900: #fcfeff;
  --alert100: #C73650;
  --alert200: #DB3C58;
  --sucess100: #087F5B;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}
